.first-section {
    background-image: url("../../../public/assets/images/banner.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-section {
    background-image: url("../../../public/assets/images/sectionTwo.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.heroBanner {
    padding: 50px 0px;
}

.heroImage {
    max-width: 625px;
    width: 100%;
}

.heroTag {
    z-index: 12;
    font-family: "Space Grotesk", sans-serif;
    text-transform: capitalize;
    height: auto;
    color: rgb(34, 36, 41);
    text-decoration: none;
    white-space: normal;
    width: 100%;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: 630px;
    text-align: left;
    line-height: 82px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 65px;
    backdrop-filter: none;
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}

.tagline {
    background-color: var(--theme-color);
    border-radius: 50px;
    color: var(--text-color);
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 30px;
}

.secondBack {
    max-width: 550px;
    width: 100%;
}


/* .secondSecImage {
    width: 100%;
    height: 100%;
    min-height: 550px;
} */

.exLayer {
    position: absolute;
    bottom: 0;
    z-index: 3;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 180px;
    max-height: 180px;
    background-color: var(--theme-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.exLayer h1 {
    font-size: 48px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
}

.exLayer p {
    font-size: 16px;
}

.subtitle {
    padding-right: 70px;
    position: relative;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--theme-color);
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 15px;
}

.subtitle::after {
    background-color: #aaa;
    background-image: linear-gradient(90deg, var(--theme-color), var(--theme-color));
    top: 50%;
    border-radius: 10px;
    content: "";
    height: 2px;
    right: 0;
    transform: translateY(-50%);
    margin-top: 0;
    position: absolute;
    width: 55px;
}

.title {
    margin-top: -6px;
    margin-bottom: 10px;
    line-height: 1.3;
    position: relative;
    z-index: 0;
    font-size: 48px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    transition: all .3s ease;
}

.detail {
    color: var(--textThree-color);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
}

.direct {
    background-color: var(--theme-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.direct svg {
    fill: #fff;
    font-size: 18px;
}

.secing p {
    color: #808287;
    padding: 15px 0px;
    line-height: 28px;
}

.secing {
    margin: 10px 0px;
}

.twoSecings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.secing h5 {
    font-size: 18px;
    font-weight: 700;
    color: var(--textSec-color);
}

.highlighted {
    color: #000;
    font-weight: 600;
}

.card-service {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 15px 20px;
    background-color: #fff;
    /* Initial white background */
    text-align: center;
    max-width: 160px;
    width: 100%;
    -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
    box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
    transition: all 300ms linear;
    min-height: 157px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-service h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 13px;
    z-index: 3;
    /* Ensure text stays above pseudo-element */
    position: relative;
}

.card-service img {
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    min-height: 60px;
    height: 100%;
    z-index: 3;
    position: relative;
}

.card-service::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url("../../../public/assets/images/serviceBack.jpg");
    background-size: cover;
    background-position: center;
    content: "";
    transition: transform 0.5s ease;
    z-index: 2;
    transform: translateY(100%);
}

.requestForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;
    padding: 40px 40px 10px;
    background-color: #fff;
    border-radius: 10px;
}

.card-service:hover::before {
    transform: translateY(0);
}

.card-service:hover h2 {
    color: #fff;
}

.third-section .title {
    max-width: 680px;
    width: 100%;
    margin: 0 auto 30px;
}

.services {
    gap: 25px;
}

.fourth-section {
    background-image: url("../../../public/assets/images/sectionFour.png");
    transition: background-image 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -250px;
    margin-bottom: 0px;
    padding: 140px 0px 0px;
    background-color: #F4F5F8;
}

.serviceLine .contactNow {
    padding: 10px 40px !important;
}

.serviceLine h5 {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: #808287;
}

.whyChooseItems li {
    margin: 10px 0px;
}

.whyChooseItems li a h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    font-family: "Space Grotesk", sans-serif;
}


.whyChooseItems p {
    color: var(--textSec-color);
}

.chosIcon {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.chosIcon svg {
    fill: var(--theme-color);
}

.whyContent {
    max-width: 540px;
    width: 100%;
}

.chosIcon svg {
    width: 30px;
    height: 30px;
}

.fifth-section {
    background-image: url("../../../public/assets/images/faqBg.webp");
}

.questionSection {
    max-width: 600px;
    width: 100%;
}

.faqForm {
    padding: 40px 50px 50px;
    border-radius: 5px;
    background-color: #F4F5F8;
    border: 1px solid #E6E8F0;
    text-align: left;
}

.faqQuesForm {
    padding: 41px 50px !important;
}

.faqForm .MuiAccordion-root {
    margin: 10px 0px;
    padding: 20px 30px;
    background-color: #fff;
    border: none;
    box-shadow: none;
}

.faqForm .MuiAccordion-root:last-child {
    margin-bottom: 0px;
}

.faqForm .MuiAccordion-root::before {
    display: none;
}

.faqForm .MuiAccordion-root .MuiAccordionSummary-content {
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.MuiAccordionSummary-content.Mui-expanded,
.MuiAccordionSummary-expandIconWrapper.Mui-expanded svg {
    color: var(--theme-color);
    fill: var(--theme-color) !important;
}

.faqForm .MuiAccordion-root svg {
    fill: #000;
}

.faqForm .MuiAccordionDetails-root {
    padding-bottom: 0px;
    color: var(--textSec-color);
}

.faqForm .MuiAccordion-root .MuiAccordionSummary-root {
    min-height: unset;
}

.faqForm img {
    max-width: 489px;
    width: 100%;
}

.faqForm h4 {
    color: var(--textThree-color);
    font-size: 22px;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

.detail strong {
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(100deg, #FFAA17 0%, #1C2254 100%);
    margin: 4px;
    padding: 3px 7px;
    border-radius: 2px;
    font-weight: 600;
}

.wholeForm .MuiTextField-root {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #686a6f;
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
}

@media (max-width:768px) {
    .tagline {
        font-size: 14px;
    }

    .heroBanner {
        gap: 20px;
    }

    .heroTag {
        font-size: 40px;
        line-height: 59px;
    }
}

@media (max-width:520px) {
    .heroTag {
        font-size: 24px;
        line-height: 35px;
    }

    .faqQuesForm,
    .faqForm {
        padding: 25px !important;
    }

    .faqForm {
        margin-bottom: 20px;
    }

    .faqForm .MuiAccordion-root .MuiAccordionSummary-content {
        font-size: 16px;
        font-weight: 600;
    }

    .title {
        font-size: 20px;
        line-height: unset;
    }

    .subtitle {
        font-size: 12px;
    }

    .twoSecings {
        grid-template-columns: 1fr;
    }
}